<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="leg_v2_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>
        
        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
            <joint name="top_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['top_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="top_leg_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['top_leg_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="bot_leg_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['bot_leg_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="bot_rotative_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['bot_rotative_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wheel_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wheel_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

    
   
    <gazebo>
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>$(find leg_v2_moveit_config)/config/ros2_controllers.yaml</parameters>
      </plugin>

      <!-- <plugin filename="gz-sim-joint-state-publisher-system"  name="gz::sim::systems::JointStatePublisher">
        <topic>joint_states</topic> 
        <joint_name>top_joint</joint_name>
        <joint_name>top_leg_joint</joint_name>
        <joint_name>top_leg_joint</joint_name>

      </plugin>  -->




    </gazebo>

    </xacro:macro>
</robot>
